html {
    max-width: 100vw;
    overflow-x: hidden;
}
.toggle-menu{
    background-color: brown;
    border-bottom: 1px solid grey;
    display: table-row;
}

.modal-nav{
    height: 36px;
    padding: 0px;
}

.debug{
    background-color: red;
}

.expedia-widget{
    width: 700px;
    max-height: 400px;
}
.expedia-frame{
    max-height: 300px;
}