html {
    max-width: 100vw;
    overflow-x: hidden;
}

img {
    user-select: none;
}

.head-hero{
    position: relative;
}

.hero-text {
    width: 80%;
}

.center-parent {
    position: relative;
    display: grid;
    align-items: center;
}

.center-x {
    top: 0;
    transform: translateX(-15%);
    overflow-x: hidden;
}

.heading {
    font-family: 'JetBrains Mono', sans-serif;
}

.centered-div {
    position: absolute;
    transform: translate(-50%, -50%);
    left: 50%;
    top: 50%;
}

.scroll-body {
    /*background-color: white !important;*/
    background-color: rgb(211, 200, 193);
    overflow-y: auto;
    position: relative;
    width: 100vw;
    overflow-x: hidden;
}
.centered-article{
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-height: 400px;
    object-fit: cover;
}

.carousel-citation, div.centered-citation{
    background-color: #242124;
    color: white;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
    bottom: 0;
    border-radius: 0.6em 0.6em 0 0;
    text-align: center;
    padding: 0.5em 0.5em 0.5em 0.5em;
    font-size: 0.8em;
    opacity: 0.6;
}

div.centered-citation{
    min-width: 70vw;
}

.carousel-citation{
    min-width: 70vw;
}

@media only screen and (max-width: 768px) {
    .centered-citation{
        font-size: 0.6em !important;
        width: 100%;
    }
    .carousel-citation{
        font-size: 5px;
        width: 100%;
    }
}

div.card-citation{
    font-size: 5px;
    opacity: 0.6;
    position: absolute;
    width: 100%;
    background-color: #242124;
    color: white;
    bottom: 0;
    padding: 0.4em 0.4em 0.4em 0.4em;
    text-align: center;
    border-radius: inherit;
}

.article-citation {
    font-size: 8px;
    text-align: center;
}

.hotel-card{
    background-color: #242124;
    color: white;
    width: 100%;
    text-align: center;
    padding: 0.5em 0.5em 0.5em 0.5em;
    font-size: 6px;
    opacity: 0.6;
}

iframe {
    overflow: auto;
    width: 100%;
    height: 89vh;
    -webkit-overflow-scrolling: touch;
}

.img-disney{
    width: 100%;
    height: 550px;
}

@media only screen and (min-width: 768) {
    
}
.card-hover{
    height: 100%;
    width: 0%;
    background-color: #242124;
    opacity: 0.7;
    position: absolute;
    left: 0%;
    top: 0%;
    transition: all 1s ease;
    z-index: 0;
}

.food-overlay:hover > .card-hover{
    width: 100%;
}

.over-body{
    position: absolute;
    z-index: 1000;
}

@media only screen and (max-width: 768) {
    iframe {
        max-height: 60vh;
    }
}

#map{
    height: 30%;
    width: 30%;
}

.hero-cite {
    word-wrap: break-word;
	word-break: break-all;
}

.p-card, .p-card > a > .card-img-top {
    border: none;   
    border-radius: 0em !important;  
}

.p-card > a > .card-img-top {
    filter:brightness(37%);
}

@media (min-width: 768px) {
    .p-card {
        min-width: calc(33.33% - 30px);
    }
    .p-card, .card-img-top {
        height: 380px !important;
    }
}